/* First and Second Tab Styles */
.SecondTab p {
  font-size: 2rem;
  text-align: center;
}
@media only screen and (max-width: 700px) and (min-width: 200px) {
  .ai_feature-head {
    width: 100%;
  }
}
